# H1: Data Science Tools and Ecosystem

## H2: In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- commonly used libraries used by Data Scientists
- Data Science Tools
- examples of evaluating arithmetic expressions in Python

# Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

#### Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. matplotlib

#### Data Science Tools
--------------------
|Data Science Tools|
--------------------
|Apache Spark|
|Tensor Flow|
|Tableau|

### H3: Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [3]:
min=200
hours=min/60
# This will convert 200 minutes to hours by diving by 60
hours

3.3333333333333335

## H2: Author
Yuvraj Singh